#{extends 'webshop-main.html' /}
#{set title:'Shopping cart' /}

<div id="shopping-cart-table">
<table class="table-bordered table-striped">
    <thead>
    <th>Slika</th>
    <th>Naziv artikla</th>
    <th>Kolicina</th>
    <th>Cena (RSD)</th>
    <th>Ukupno (RSD)</th>
    </thead>
    <tbody>
    #{list items=proizvodi, as: 'proizvod'}
    <tr>
        <td><img src="@{'/public/images/products'}/${proizvod.roba.slika}" class="product-image"></td>
        <td>${proizvod.roba.naziv}</td>
        <td>${proizvod.kolicina}</td>
        <td>${proizvod.roba.stavkeCenovnika.cena.value}</td>
        <td>666666</td>
    </tr>
    #{/list}
    </tbody>
</table>
    <button class="btn-primary">Kupi!</button>
    <button class="btn-danger">Isprazni korpu</button>
</div>

