#{extends 'webshop-main.html' /}
#{set title:'Shopping cart' /}

<div id="shopping-cart-table">
<table class="table-bordered table-striped">
    <thead>
    <th>Slika</th>
    <th>Naziv artikla</th>
    <th>Kolicina</th>
    <th>Cena (RSD)</th>
    <th>PDV</th>
    <th>Ukupno (RSD)</th>
    <th></th>
    </thead>
    <tbody>
    #{list items:items, as: 'proizvod'}
    <tr>
        <td><img src="@{'/public/images/products'}/${proizvod.roba.slika}" class="product-image"></td>
        <td>${proizvod.roba.naziv}</td>
        <td>${proizvod.kolicina}</td>
        <td>${proizvod.jedinicnaCena}</td>
        <td>${proizvod.procenatPdv}%</td>
        <td>${proizvod.ukupno}</td>
        <td><a href="/ShoppingCartItemController/deleteFromShoppingCart?itemId=${proizvod.itemId}"><i class="fa fa-times fa-2x" aria-hidden="true"></i></a></td>
    </tr>
    #{/list}
    <tr class="sumRow">
    	<td colspan="5" align="right">Ukupno sa PDV:</td>
    	<td colspan="2" align="center">${sum}</td>
    </tr>
    </tbody>
</table>
    <a href="@{ShoppingCartItemController.zavrsiKupovinu()}" type="button" class="btn btn-success" >Kupi!</a>
    <a href="@{Dobavljac.webshop()}" type="button" class="btn btn-primary">Nastavi kupovinu</a>
</div>

