body {
	background-color: #EAEAEA;
	font-family: 'Quicksand', sans-serif;
}

.overlay {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #111111;
	opacity: 0.5;
	z-index: 99998;
}

#navbar-horizontal {
	max-width: 300px;
	position: static;
	float: left;
	height: 100vh;
	margin-left: 0;
	margin-top: -9vh;
	z-index: 99999;
}

.navbar {
	position: static;
	font-size: 1.2em;
	font-weight: bold;
	background-image: none;
	border-style: none;
}

.navbar-inverse {
	background-color: #272827;
}

.main-content {
	width: 80vw;
	height: 80vh;
	float: right;
}

table {
	float: left;
	text-align: center;
	width: 70vw;
}

th {
	text-align: center;
	font-weight: bold;
	background-color: #272827;
	color: #EAEAEA;
}

#print-me {
	float: right;
	margin-right: 5vw;
	width: 60px;
	height: 60px;
}

#modal-container {
	display: none;
	margin: 0 auto;
	width: 30vw;
	vertical-align: middle;
}

.modal-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 15px;
	border: 3px solid;
	border-radius: 5px;
	z-index: 99999;
	background-color: #EAEAEA;
}

.add-new-btn {
	position: fixed;
	top: 50vh;
	right: 0px;
	color: #272827;
	width: 70px;
	height: 60px;
}

#generisi_sve_btn {
	display: block;
	width: 15%;
	float: right;
	margin-right: 10vw;
	margin-top: 5vh;
}

#proizvodi-detaljno {
	width: 400px;
}

.search-form{
	width: 70vw;
	margin-bottom: 20px;
	background-color: white;
	border-radius: 5px;
}

.search-form input{
	width: 67vw;
	border: none;
	height: 30px;
	border-radius: 5px;
	padding: 5px;
}

.search-form button{
	background-color: white;
	border: none;
	float: right;
	position: absolute;
}

#zaglavlje-fakture{
	width: 70vw;
	height: 160px;
	display: inline-block;
	border-bottom: 3px solid;
}

#zaglavlje-fakture span{
	display: inline-block;
}

#company-info{
	margin-left: 30px;
}

#faktura-info{
	float: right;
	margin-top: 10px;
	margin-right: 20px;
}

#logo-faktura{
	width: 150px;
	vertical-align: bottom;
}

#zaglavlje-kupac{
	width: 70vw;
	border-bottom: 1px solid;
}

@media print {
	@page {
		margin-bottom: 0;
		margin-left: -50px;
		size: A4 landscape;
	}

	#print-me {
		display: none;
	}
}