*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #F2F1F0;
}

.product-container{
    margin-top: 20px;
}

.product{
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid;
    border-radius: 20px;
    display: table;
}

.product-image{
    width: 150px;
    height: 150px;
    display: table;
    margin: 0 auto;
}

.product-title{
    font-size: 2em;
    display: table;
    margin: 0 auto;
}

.product-price{
    display: table;
    margin: 0 auto;
}


#shopping-cart{
    float: right;
    margin-top: 5px;
}

#add-to-cart{
    width: 40px;
    height: 40px;
}


#shopping-cart-table{
    margin: 0 auto;
    display: table;
    text-align: center;
}

#shopping-cart-table th{
    text-align: center;
    padding: 10px;
}

#shopping-cart-table a{
    margin-top: 20px;
    margin-left: 5px;
    float: right;
    font-size: 1.2em;
}

.sumRow{
	font-weight: bold;
	color: #337ab7;
	font-size: 16px;
}