#{extends 'dobavljac-main.html'/}
#{set title:'Cenovnik' /}

<table class="table-bordered table-striped" id="cenovnik-print">
    <thead>
    <th>Naziv artikla</th>
    <th>Cena (RSD)</th>
    </thead>
    <tbody>
        #{list items=cenovnik.stavkeCenovnika, as: 'stavka'}
        <tr>
            <td>${stavka.roba.naziv}</td>
            <td>${stavka.cena}</td>
        </tr>
        #{/list}
    </tbody>
</table>

<button id="print-cenovnik"><i class="fa fa-print fa-2x" aria-hidden="true"></i></button>