<!DOCTYPE html>
<html lang="">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="@{'public/stylesheets/bootstrap.min.css'}">
    <link rel="stylesheet" href="@{'public/stylesheets/bootstrap-theme.min.css'}">
    <link rel="stylesheet" href="@{'public/stylesheets/style.css'}">
    <script src="https://use.fontawesome.com/df8138781c.js"></script>
    <script src="@{'public/javascripts/jquery-3.1.1.min.js'}"></script>
    <script src="@{'public/javascripts/bootstrap.min.js'}"></script>
    <script src="@{'public/javascripts/interface.js'}"></script>
  <title>Spectral Link</title>
</head>
   <body>
   <div class="overlay"></div>
       
    <!-- HORIZONTALNA NAVIGACIJA -->
    <nav class="navbar navbar-inverse navbar-fixed-top">    
        <p class="navbar-text navbar-center" style="margin-left:45%;">Spectral Link DOO (Admin panel)</p>   
        <ul class="nav nav-pills" style="float:right;">
            <li><a href="#" id="notif-narudzbenice"><i class="fa fa-bell-o fa-2x" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-user-circle-o fa-2x" aria-hidden="true"></i></a></li>
        </ul>
    </nav>    
    

    <!-- VERTIKALNA NAVIGACIJA -->
    <nav class="navbar navbar-inverse" id="navbar-horizontal">
        <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">
                <img alt="Brand" src="@{'public/images/SpectralLink_LOGO.png'}" style="max-width:45px;">
              </a>
            </div>
            <span class="text-center" style="line-height:60px;color:#EAEAEA;">Kontrolna tabla</span>
        </div>
        <ul class="nav nav-pills nav-stacked">
            <li><a href="#" id="webshop-admin">Administracija webshopa</a></li>
            <li><a href="#" id="cenovnik-admin">Cenovnik</a></li>
            <li><a href="#" id="partneri-admin">Poslovni partneri</a></li>
            <li><a href="#" id="poslovna-godina-admin">Poslovna godina</a></li>
            <li><a href="#" id="pdv-admin">Podesavanje PDV-a</a></li>
            <li><a href="#" id="izdate-fakture">Izdate fakture</a></li>
            <li><a href="#" id="izdate-otpremnice">Izdate otpremnice</a></li>
        </ul>
    </nav>
        
    
    <section class="main-content">
        <table class="table-bordered table-striped">
            <thead>
                <th>ID</th>
                <th>Naziv</th>
                <th>Cena (RSD)</th>
                <th>Raspoloziva kolicina</th>
                <th>Opis</th>
                <th>Akcija</th>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Asus ROG R724</td>
                    <td>299 999,00</td>
                    <td>6</td>
                    <td>Republic of gamers high tech laptop</td>
                    <td>
                        <a><i class="fa fa-pencil" aria-hidden="true"></i></a>
                        <a><i class="fa fa-times" aria-hidden="true"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
        
        <button type="button" id="add-new-product" class="add-new-btn btn btn-primary"><i class="fa fa-plus-square-o fa-3x" aria-hidden="true"></i></button>
    </section>

    
    <div id="modal-container">
    </div>


  
</body>
</html>
