<!DOCTYPE html>
<html lang="">
<head>
    <title>Spectral Link</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="@{'public/stylesheets/stylesheet.css'}" type="text/css" rel="stylesheet" >
    
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="icon" href="@{'public/images/logo/SpectralLink_LOGO.png'}">
    <script src="@{'public/javascripts/jquery-3.1.1.min.js'}"></script>
    <script src="@{'public/javascripts/bootstrap.min.js'}"></script>
    <script src="@{'public/javascripts/script.js'}"></script>
  <title></title>
</head>

<body>
    <nav>
        <div>
            <ul>
                <li><a href="#" id="webShopLink">WebShop</a></li>

                <li><a href="#" ><img id="menuLogo" src="@{'public/images/logo/SpectralLink_LOGO.png'}"/><span>Spectral Link</span></a>
                <li id="mrs"><a href="#" id="narudzbeniceLink">Narudzbenice<span id="brNarudzbenica">(2)</span></a></li>
                
            </ul>
            
        </div>
    </nav>
    
    <div id="webShopContainer">
        <img id="webShopBasketImg" src="@{'public/images/basketWeb.png'}" alt="Ovde ide WebShop">
        <div style="text-align:center;font-size:1.4em;">Ovde ide WebShop</div>
    </div>
    
    <div id="narudzbeniceContainer">
        <div class="narudzbenica">
            <table class="zaglavljeNarudzbenice">
                
                  <tr>
                    <td class="tg-9hbo">Narudzbenica br. <span id="brNarudz-1">1</span></th>
                    <td class="tg-yw4l">Ime i prezime / naziv firme: <span id="imeKupcaNarudz-1">Astral DOO</span></td>
                  </tr>
                  <tr>
                    <td class="tg-yw4l">Ziro racun kupca: <span id="racunKupcaNarudz-1">840-1751666-08</span></td>
                    <td class="tg-yw4l">Ulica i broj: <span id="adresaKupcaNarudz-1">Aleksandra Tisme 8</span></td>
                  </tr>
                  <tr>
                    <td class="tg-yw4l">Rok isporuke: <span id="rokIsporukeNarudz-1">21.12.2016</span></td>
                    <td class="tg-yw4l">Broj tel. : <span id="brTelKupcaNarudz-1">0658741548</span></td>
                  </tr>
            </table>
            <span style="font-weight: bold;">Narucuje:</span>
        
            <table class="sadrzajNarudzbenice">
                <tr>
                    <th>#</th>
                    <th>Naziv dobra/usluge</th>
                    <th>Kolicina</th>
                    <th>Cena bez PDV-a</th>
                    <th>Iznos</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Maticna bloca B4123S</td>
                    <td>4</td>
                    <td>21999</td>
                    <td>28999</td>
                </tr>
            </table>
            
            <button class="btn-ok">Generisi fakturu</button>
        </div>
    
    
    
        <!-- Druga kopija -->
        <div class="narudzbenica">
            <table class="zaglavljeNarudzbenice">
                
                  <tr>
                    <td class="tg-9hbo">Narudzbenica br. <span id="brNarudz-2">1</span></th>
                    <td class="tg-yw4l">Ime i prezime / naziv firme: <span id="imeKupcaNarudz-2">Astral DOO</span></td>
                  </tr>
                  <tr>
                    <td class="tg-yw4l">Ziro racun kupca: <span id="racunKupcaNarudz-2">840-1751666-08</span></td>
                    <td class="tg-yw4l">Ulica i broj: <span id="adresaKupcaNarudz-2">Aleksandra Tisme 8</span></td>
                  </tr>
                  <tr>
                    <td class="tg-yw4l">Rok isporuke: <span id="rokIsporukeNarudz-2">21.12.2016</span></td>
                    <td class="tg-yw4l">Broj tel. : <span id="brTelKupcaNarudz-2">0658741548</span></td>
                  </tr>
            </table>
            <span style="font-weight: bold;">Narucuje:</span>
        
            <table class="sadrzajNarudzbenice">
                <tr>
                    <th>#</th>
                    <th>Naziv dobra/usluge</th>
                    <th>Kolicina</th>
                    <th>Cena bez PDV-a</th>
                    <th>Iznos</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Maticna bloca B4123S</td>
                    <td>4</td>
                    <td>21999</td>
                    <td>28999</td>
                </tr>
            </table>
            
            <button class="btn-ok">Generisi fakturu</button>
        </div>
    </div>
    
</body>
</html>
