#{extends 'dobavljac-main.html' /}
#{set title:'Fakture' /}

<!--
<form action="../FakturaController/search" method="GET" class="search-form">
    <input type="text" name="searchTerm">
    <span>
        <button type="submit"><i class="fa fa-search fa-2x" aria-hidden="true"></i></button>
    </span>
</form> -->

<table class="table-bordered table-striped">
    <thead>
    <th>Br. fakture</th>
    <th>Datum</th>
    <th>Kupac</th>
    <th>Iznos</th>
    <th>Detaljno</th>
    <th>Izdaj fakturu</th>
    <th>Akcija</th>
    </thead>
    <tbody>
    #{list items:fakture, as: 'faktura'}
    <tr>
    #{if faktura.fakturaIzdata == true}
    	#{set 'izdavanjeHtml'}<span style="font-style: italic;">Faktura je izdata<span>#{/set}
    	#{set 'actionDisplay'}none#{/set}
	#{/if}
	#{else}
		#{set 'izdavanjeHtml'}<a href="@{controllers.FakturaController.izdajFakturu(faktura.id)}" class="btn btn-primary">Izdaj</a>#{/set}
		#{set 'actionDisplay'}inline#{/set}
	#{/else}
        <td>${faktura.brojFakture}-${faktura.poslovnaGodina.year}</td>
        <td>${faktura.datumFakture}</td>
        <td>${faktura.poslovniPartneri.name}</td>
        <td>${faktura.iznosZaPlacanje}</td>
        <td><a href="@{controllers.FakturaController.prikaziDetaljno(faktura.id)}">Detaljno</a></td>
        <td>${izdavanjeHtml.raw(true)}</td>
        <td>
            <a style="display:${actionDisplay}" href="#" class="edit-faktura" id="${faktura.id}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
            <a style="display:${actionDisplay}" href="@{FakturaController.delete(faktura.id)}"><i class="fa fa-times" aria-hidden="true"></i></a>
        </td>

    </tr>
    #{/list}
    </tbody>
</table>

<button type="button" id="add-new-faktura" class="add-new-btn btn btn-primary"><i class="fa fa-plus-square-o fa-3x" aria-hidden="true"></i></button>
