#{extends 'dobavljac-main.html'/} #{set title:'Grupe robe' /}

<form action="../GrupaRobeController/search" method="GET" class="search-form">
    <input type="text" name="searchTerm">
    <span>
        <button type="submit"><i class="fa fa-search fa-2x" aria-hidden="true"></i></button>
    </span>
</form>

<table class="table-bordered table-striped" id="grupe-robe">

    <thead>
        <th>Grupa robe</th>
        <th>PDV</th>
        <th>Stopa PDV-a</th>
        <th>Akcija</th>
    </thead>
    <tbody>
    #{list items=grupeRobe, as: 'gr'}
    <tr>
        <td>${gr.naziv}</td>
        <td>${gr.pdv.naziv}</td>
        <td>${gr.pdv.stopePDV.get(0).procenat}%</td>
        <td>
            <a href="#" class="edit-grupa" id="${gr.id}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
            <a href="@{GrupaRobeController.delete(gr.id)}"><i class="fa fa-times" aria-hidden="true"></i></a>
        </td>
    </tr>
    #{/list}
    </tbody>
</table>

<button type="button" id="add-new-group" class="add-new-btn btn btn-primary"><i class="fa fa-plus-square-o fa-3x" aria-hidden="true"></i></button>