#{extends 'dobavljac-main.html'/} #{set title:'Narudzbenice' /}

<table class="table-bordered table-striped">
	<thead>
		<th>ID</th>
		<th>Narucilac</th>
		<th>Datum narudzbine</th>
		<th>Proizvodi</th>
		<th>Akcija</th>
	</thead>
	<tbody>
	#{list items:narudzbenice, as: 'narudzbenica'}
		<tr>
		#{set 'lastColumnHtml'}
			#{if narudzbenica.fakturaGenerisana == 1}Faktura je generisana#{/if}
			#{else}<a href="@{FakturaController.generisiFakturu(narudzbenica.id)}" class="btn btn-primary">Generisi Fakturu</a>#{/else}
		#{/set}
			<td>${narudzbenica.id}</td>
			<td>${narudzbenica.kupac.name}</td>
			<td>${narudzbenica.datumNarudzbine.toString().substring(0, 16)}</td>
			<td><a href="#" class="product-list-link" id="${narudzbenica.id}">Lista proizvoda</a></td>
			<td>
				${lastColumnHtml.raw(true)}
			</td>
		</tr>
		#{/list}
	</tbody>
</table>

<br>
<a href="@{FakturaController.generisiSve()}" class="btn btn-success" id="generisi_sve_btn">Generisi
	za sve</a>