#{extends 'dobavljac-main.html'/}
#{set title:'Narudzbenice' /}

<table class="table-bordered table-striped">
    <thead>
    <th>ID</th>
    <th>Narucioc</th>
    <th>Datum narudzbine</th>
    <th>Komentar</th>
    <th>Proizvodi</th>
    <th>Akcija</th>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>Asus DOO</td>
        <td>21.1.2017</td>
        <td>Molimo vas da sto prije dostavite robu i racun. Pozvati na broj firme prije dostave.</td>
        <td><a href="#" class="product-list-link">Lista proizvoda</a></td>
        <td>
            <button type="button" class="btn btn-primary">Generisi fakturu</button>
        </td>
    </tr>
    </tbody>
</table>

<br>
<button type="button" class="btn btn-success" id="generisi_sve_btn">Generisi za sve</button>