#{extends 'dobavljac-main.html'/} #{set title:'Poslovni partneri' /}

<form action="../BusinessPartnerController/search" method="GET" class="search-form">
    <input type="text" name="searchTerm">
    <span>
        <button type="submit"><i class="fa fa-search fa-2x" aria-hidden="true"></i></button>
    </span>
</form>

<table class="table-bordered table-striped">

    <thead>
    <th>ID</th>
    <th>Naziv</th>
    <th>Mesto</th>
    <th>Adresa</th>
    <th>Telefon</th>
    <th>E-mail</th>
    <th>Akcija</th>
    </thead>
    <tbody>
    #{list items:pp, as: 'poslovniPartner'}
    <tr>
        <td>${poslovniPartner.id}</td>
        <td>${poslovniPartner.name}</td>
        <td>${poslovniPartner.mesto.naziv}</td>
        <td>${poslovniPartner.address}</td>
        <td>${poslovniPartner.phoneNumber}</td>
        <td>${poslovniPartner.email}</td>
        <td>
            <a href="#" class="edit-partner" id="${poslovniPartner.id}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
            <a href="@{controllers.BusinessPartnerController.delete(poslovniPartner.id)}"><i class="fa fa-times" aria-hidden="true"></i></a>
        </td>
    </tr>
    #{/list}
    </tbody>
</table>

<button type="button" id="add-new-partner"
	class="add-new-btn btn btn-primary">
	<i class="fa fa-plus-square-o fa-3x" aria-hidden="true"></i>
</button>
