#{extends 'dobavljac-main.html' /}
#{set title:'WebShop' /}




<table class="table-bordered table-striped">
    <thead>
        <th>ID</th>
        <th>Naziv</th>
        <th>Cena (RSD)</th>
        <th>Raspoloziva kolicina</th>
        <th>Opis</th>
        <th>Akcija</th>
    </thead>
    <tbody>
        #{list items:roba, as: 'stavka'}
        <tr>
            <td>${stavka.id}</td>
            <td>${stavka.naziv}</td>
            <td>${stavka.stavkeCenovnika.get(0).cena}</td>
            <td>${stavka.raspKol}</td>
            <td>${stavka.opis}</td>
            <td>
                <a href="#" class="edit-roba" id="${stavka.id}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                <a href="@{RobaController.delete(stavka.id)}"><i class="fa fa-times" aria-hidden="true"></i></a>
            </td>
        </tr>
        #{/list}
    </tbody>
</table>

<button type="button" id="add-new-product" class="add-new-btn btn btn-primary"><i class="fa fa-plus-square-o fa-3x" aria-hidden="true"></i></button>