#{extends 'dobavljac-main.html' /}
#{set title:'WebShop' /}

#{set 'boja'}
		#{if narudzbenice.noveNarudzbenice > 0}red#{/if}
		#{else} #{/else}
#{/set}

<script>
    $(document).ready(function(){
      var hiddenNotif = document.getElementById('notif-hidden');
      var notif = document.getElementById('notif-narudzbenice');
      notif.innerHTML = hiddenNotif.innerHTML;
    });
  </script>

<a href="@{controllers.Dobavljac.narudzbenice}" id="notif-hidden" style="display:none;"><i class="fa fa-bell-o fa-2x" aria-hidden="true" style="color: ${boja};">${narudzbenice.ukupnoNarudzbenica}(${narudzbenice.noveNarudzbenice})</i></a>

<table class="table-bordered table-striped">
    <thead>
        <th>ID</th>
        <th>Naziv</th>
        <th>Cena (RSD)</th>
        <th>Raspoloziva kolicina</th>
        <th>Opis</th>
        <th>Akcija</th>
    </thead>
    <tbody>
        #{list items:roba, as: 'stavka'}
        <tr>
            <td>${stavka.id}</td>
            <td>${stavka.naziv}</td>
            <td>${stavka.stavkeCenovnika.cena}</td>
            <td>${stavka.raspKol}</td>
            <td>${stavka.opis}</td>
            <td>
                <a><i class="fa fa-pencil" aria-hidden="true"></i></a>
                <a><i class="fa fa-times" aria-hidden="true"></i></a>
            </td>
        </tr>
        #{/list}
    </tbody>
</table>

<button type="button" id="add-new-product" class="add-new-btn btn btn-primary"><i class="fa fa-plus-square-o fa-3x" aria-hidden="true"></i></button>