<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="@{'public/stylesheets/bootstrap.min.css'}">
    <link rel="stylesheet" href="@{'public/stylesheets/bootstrap-theme.min.css'}">
    <link rel="stylesheet" href="@{'public/stylesheets/webshop.css'}">

    <script src="https://use.fontawesome.com/df8138781c.js"></script>
    <script src="@{'public/javascripts/jquery-3.1.1.min.js'}"></script>
    <script src="@{'public/javascripts/bootstrap.min.js'}"></script>
    <title>Webshop</title>
</head>
<body>

<div class="container-fluid">

    <div class="row">
        #{list items=roba, as: 'proizvod'}
        <a href="@{ShoppingCartItemController.addToCart(proizvod.id)}">
        <div class="col-sm-3">
            <div class="product">
                <div><img src="@{'/public/images/products'}/${proizvod.slika}" class="product-image"></div>
                <div class="product-info">
                    <div class="product-title">
                        ${proizvod.naziv}
                    </div>
                    <div class="product-price">
                        ${proizvod.stavkeCenovnika.cena}
                    </div>
                </div>
            </div>
        </div>
            </a>
        #{/list}
    </div>
</div>

</body>
</html>