<!DOCTYPE html>
<html>
<head>
<title>SpectralLink Home Page</title>
<link rel="shortcut icon" type="image/png" href="@{'/public/images/headImage.png'}">
<link rel="stylesheet" media="screen"
	href="@{'/public/stylesheets/bootstrap.min.css'}">
<link rel="stylesheet" media="screen"
	href="@{'/public/stylesheets/homepage.css'}">
</head>

<body>

	<header>
		<img src="@{'/public/images/logo/SpectralLink-LOGO_horizontal.png'}" />
	</header>
	<main class="container">
		<div class="row">
			<div class="col-sm-4 linkws"><a href="/dobavljac/webshop"><img src="@{'/public/images/web-shop.png'}" class="img-circle"/></a></div>
		</div>
		<div class="row">
			<div class="col-sm-4"><img src="@{'/public/images/vezaDWS.png'}"/></div>
		</div>
		<div class="row">
			<div class="col-sm-4 link"><a href="/dobavljac"><img src="@{'/public/images/dobavljac.jpg'}" class="img-rounded"/></a></div>
			<div class="col-sm-4"><img src=""/><img src="@{'/public/images/veza_preduzeca.png'}"/></div>
			<div class="col-sm-4 link"><a href="/kupac"><img src="@{'/public/images/kupac.jpg'}" class="img-rounded"/></a></div>
		</div>
		<div class="row">
			<div class="col-sm-4"><img src="@{'/public/images/vezaPM.png'}"/></div>
			<div class="col-sm-4"></div>
			<div class="col-sm-4"><img src="@{'/public/images/vezaPM.png'}"/></div>
		</div>
		<div class="row">
			<div class="col-sm-4 link"><a href="/dobavljac/magacin"><img src="@{'/public/images/magacinD.jpg'}" class="img-rounded"/></a></div>
			<div class="col-sm-4"><img src="@{'/public/images/veza_magacina.png'}"/></div>
			<div class="col-sm-4 link"><a href="/kupac/magacin"><img src="@{'/public/images/magacinK.jpg'}" class="img-rounded"/></a></div>
		</div>
	</main>
	
	
    <footer> Copyright &copy; 2016 SpectralLink - FTN </footer>
</body>

</html>
